# Name:Ramsha Shaikh

Task 2: Recommendation System at code casa

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\ramsh\Downloads\movies.csv")
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [7]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel


# Compute the TF-IDF matrix
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['genres'])

# Compute cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Get movie recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = df.index[df['title'] == title].tolist()[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:4]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

print(get_recommendations('Jumanji (1995)'))

53     Indian in the Cupboard, The (1995)
109     NeverEnding Story III, The (1994)
767       Escape to Witch Mountain (1975)
Name: title, dtype: object

In [8]:
# Compute the TF-IDF matrix
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['genres'])

In [9]:
# Compute cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [10]:
# Get movie recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = df.index[df['title'] == title].tolist()[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    #get top three movies
    sim_scores = sim_scores[1:4]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [14]:
print(get_recommendations('Waiting to Exhale (1995)'))

10       American President, The (1995)
47              Mighty Aphrodite (1995)
52    Postman, The (Postino, Il) (1994)
Name: title, dtype: object

In [11]:
print(get_recommendations('Jumanji (1995)'))

53     Indian in the Cupboard, The (1995)
109     NeverEnding Story III, The (1994)
767       Escape to Witch Mountain (1975)
Name: title, dtype: object

In [12]:
print(get_recommendations('Toy Story (1995)'))

1706                                       Antz (1998)
2355                                Toy Story 2 (1999)
2809    Adventures of Rocky and Bullwinkle, The (2000)
Name: title, dtype: object